import('stats')
import('graphics')
import('grDevices')
import('utils')
useDynLib(ncvreg,.registration=TRUE)
export(ncvreg)
export(cv.ncvreg)
export(ncvsurv)
export(cv.ncvsurv)
export(mfdr)
export(fir)
export(local_mfdr)
export(perm.ncvreg)
export(setupLambda)
export(permres)
export(AUC)
export(std)
S3method(permres, ncvreg)
S3method(summary, ncvreg)
S3method(summary, cv.ncvreg)
S3method(print, summary.ncvreg)
S3method(print, summary.cv.ncvreg)
S3method(plot, ncvreg)
S3method(plot, cv.ncvreg)
S3method(plot, mfdr)
S3method(plot, ncvsurv.func)
S3method(predict, ncvreg)
S3method(predict, ncvsurv)
S3method(predict, cv.ncvreg)
S3method(predict, cv.ncvsurv)
S3method(coef, ncvreg)
S3method(coef, cv.ncvreg)
S3method(logLik, ncvreg)
S3method(logLik, ncvsurv)
S3method(AUC, cv.ncvsurv)
