useDynLib(ncvreg,.registration=TRUE)
export(ncvreg, cv.ncvreg, fir, perm.ncvreg, setupLambda, ncvsurv, cv.ncvsurv,
       permres, auc)
S3method(permres, ncvreg)
S3method(summary, cv.ncvreg)
S3method(summary, cv.ncvsurv)
S3method(print, summary.cv.ncvreg)
importFrom(graphics, plot)
S3method(plot, ncvreg)
S3method(plot, cv.ncvreg)
S3method(plot, fir)
S3method(plot, ncvsurv.func)
importFrom(stats, predict)
S3method(predict, ncvreg)
S3method(predict, ncvsurv)
S3method(predict, cv.ncvreg)
importFrom(stats, coef)
S3method(coef, ncvreg)
S3method(coef, cv.ncvreg)
importFrom(stats, logLik)
S3method(logLik, ncvreg)
S3method(logLik, ncvsurv)
S3method(auc, cv.ncvsurv)
