useDynLib(ncvreg,.registration=TRUE)
export(ncvreg,cv.ncvreg)
S3method(summary,cv.ncvreg)
S3method(print,summary.cv.ncvreg)
importFrom(graphics,plot)
S3method(plot,ncvreg)
S3method(plot,cv.ncvreg)
importFrom(stats,predict)
S3method(predict,ncvreg)
importFrom(stats,coef)
S3method(coef,ncvreg)
importFrom(stats,logLik)
S3method(logLik,ncvreg)
