.dropdown-menu {
  --bs-dropdown-link-color: #aaa;
}

a {
  text-decoration:none;
}

a:hover {
  color: #00e7a7;
}

.navbar {
  background: color-mix(in oklab, var(--bs-link-color) 50%, var(--bs-body-bg) 50%);
}
